<div class="row">
    <h5>Accept Request</h5>
    <h6>Request Id: {{ requestDict.id}}</h6>
    <hr>

<ul>
    <p>Accept service request from: <span style="font-weight: bold; padding-top: 5%;">{{ providerDict.user_name }}</span></p>
    <p>Services to be provided:<span style="font-weight: bold;"> {{ providerDict.skill }} </span> </p>
    
    <br>
    <p>Requested By: <span style="font-weight: bold;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{ consumerDict.user_name }}</span> </p>
</ul>

</div>
<hr>
<div class="row" style="padding-left: 20px;">
    <div class="col-sm-4">
      <a class="btn btn-outline-primary " href="/edit_request?provider={{ providerDict.id }}&consumer={{ consumerDict.id }}&stat=accepted">Accept Request</a>
    </div>
    <br>
    
    <div class="col-sm-2">
        <a class="btn btn-outline-primary " href="javascript:notImplementedYet()">Decline</a>
      </div>
      <br>
      <div class="col-sm-2">
        <a class="btn btn-outline-primary"  href="javascript:exitPopup()">Exit</a>
    </div>
  </div>
  <script src="../static/styles/bootstrap-5.0.2-dist/js/bootstrap.js?{{ cache_id }}"></script>
  <script src="../static/scripts/jquery-3.6.0.min.js?{{ cache_id }}"></script>
  <script src="../static/scripts/base.js?{{ cache_id }}"></script>


  <link rel="stylesheet" href="../static/styles/bootstrap-5.0.2-dist/css/bootstrap.css?{{ cache_id }}">
  <Link rel="stylesheet" href="../static/styles/fontawesome-free-6.3.0-web/css/all.css?{{ cache_id }}">