<div class="container-fluid" id="content">

    <div class="container" id="text-image">
        <div class="" id="image-container">
          <div class="image" >
            <img src="../static/images/on_phone2.jpeg" alt="" class="img-fluid"  id="image1">
          </div>

          <div id="welcome-text" style="padding: 30px;">
            <h2 id="text1">
                Lets get you connected to an in-person service provider at the comfort of your choice!  
            </h2>
            <h3 id="text2">
                Would you like to provide a service instead <a href="">Sign up here!</a>
            </h3>
        </div>
        </div>
      </div>



    

        <div class="row" id="content-text" >

        <div class="row" id="filterz">

            <section class="filters">
                <button>
                    Search
                </button>
                <div class="locations">
                    <h3>
                        Regions
                    </h3>
                    <h4>
                        Western, Eastern...
                    </h4>
                    <ul id="popover">
                        <li>
                            <h2>Central:</h2>
                        </li>
                        <li>
                            <ul>
                                <li>Nairobi</li>
                                <li>Kiambu</li>
                            </ul>
                        </li>
                        <li>
                            <h2>Western:</h2>
                        </li>
                        <li>
                            <ul>
                                <li>Kisumu</li>
                                <li>Eldoret</li>
                            </ul>
                        </li>
                    </ul>
    
                </div>
                <div class="types">
                    <h3>
                        Service Types
                    </h3>
                    <h4>
                        Proffessional, ...
                    </h4>
                    <ul id="popover">
                        <li>Professional</li>
                        <li>Artisan</li>
                        <li>Others</li>
                    </ul>
                </div>
            </section>

        </div>

        <div class="container"  id="cards-container">

        <div class="row" id="cards">

            <div class="card"  style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card one</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">View</a>
                  <a href="#" class="card-link">Request</a>
                </div>
            </div>
            
              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card two</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">View</a>
                  <a href="#" class="card-link">Request</a>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card three</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">View</a>
                  <a href="#" class="card-link">Request</a>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card four</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">View</a>
                  <a href="#" class="card-link">Request</a>
                </div>
              </div>
            
        </div>
    </div>
</div>
</div>