<nav class="navbar navbar-expand-lg navbar-light bg-light" id="sticky_navbar">
  <a class="navbar-brand" href="#">
    <span class="InPerson">In-Person</span> 
    <span class="inperson"><sub>Service Provider</sub></span>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Story</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact us</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Register</a>
          <a class="dropdown-item" href="#">Feedback</a>
          <a class="dropdown-item" href="#">sign out</a>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="notification">
          <span><i class="fa-regular fa-bell"></i></span>
          <span class="badge">3</span>
        </a>
      </li>
    </ul>
  </div>
</nav>