<div class="row">

    <h4>Confirm your service request to {{ providerId }}</h4>

</div>
<hr>
<div class="row" style="padding-left: 20px;">
    <div class="col-sm-4">
      <a class="btn btn-outline-primary " href="">Confirm Request</a>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-outline-primary"  href="javascript:window.open('','_self').close();">Cancel</a>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-outline-primary " href="">Book</a>
      </div>
  </div>
  <script src="../static/styles/bootstrap-5.0.2-dist/js/bootstrap.js?{{ cache_id }}"></script>
  <script src="../static/scripts/jquery-3.6.0.min.js?{{ cache_id }}"></script>
  <script src="../static/scripts/base.js?{{ cache_id }}"></script>


  <link rel="stylesheet" href="../static/styles/bootstrap-5.0.2-dist/css/bootstrap.css?{{ cache_id }}">
  <Link rel="stylesheet" href="../static/styles/fontawesome-free-6.3.0-web/css/all.css?{{ cache_id }}">