
/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

/* Color of the navbar BEFORE scroll */
.navbar-scroll {
  background-color: #FFC017;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: auto;
  padding-bottom: auto;
}
.navbar-brand {
  font-size: unset;
  height: 3.5rem;
}

/*===============================*/

#content{
  width: 90%;
  display: flexbox;
  padding-top: 30px;
  padding-bottom: 30px;
}

#content-text{
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

#text1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;

}

#text2{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;

}

/*=============notification======*/
#notification {
  background-color: whitesmoke;
  color: rgb(17, 16, 16);
  text-decoration: none;
  padding: 12px 15px;
  position: relative;
  display: inline-block;
  border-radius: 50px;
}

#notification:hover {
  background:azure;
}

#notification .badge {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 4px 8px;
  border-radius: 50%;
  background: red;
  color: white;
}

/*====================image+++++*/

#text-image{
padding-bottom: 5%;
}

#image-container{
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  
}

#image1{
  border-radius: 50%;
}

/*==============================*/
.InPerson{
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(10, 14, 16);
}
.inperson{
  color: grey;
  font-size: small;
}

/*============cards=======================*/
#cards{
  display: flex;
  align-items: center;

  padding-top: 50px;
  
}

#card{
  align-self: center;
  padding: 10px;
  
}


#cards-container{
  padding-bottom: 50px;
  height: 1000px;
  overflow-y:auto;
}
#dp{
  border-radius: 10%;
}

/*===============filter========*/
#filtersz{
  padding-top: 80px;
  padding-left: 40px;

}

.filters{
  height: 70px;
    border: 1px solid #cfcbcb;
    border-radius: 5px;
    display: flex;  
    align-items: center;
    position: relative;
    z-index: 2;
}

.filters button {
  font-size: 15px;
  background-color: rgb(134, 134, 234);
  color: #FFFFFF;
  height: 48px;
  width: 15%;
  border: none;
  border-radius: 4px;
  position: absolute;
  right: 30px;
  box-sizing: border-box;
}

.filters button:hover {
  
  background-color: #3048a6;
}

.filters .locations,.filters .types {

  height: 100%; 
  width: 25%;
  position: relative;
  display: flex;
  justify-content: center; 
  flex-direction: column; 
  box-sizing: border-box;
}

.locations {
  border-right: 1px solid  #b3b3b3 ;
}

.filters .locations h3, .filters .types h3{
  font-size: medium;
  margin: 2px 20px;
}
.locations h4,  .types h4{
  font-weight: 400;
  font-size: 8px;
  margin: 2px 20px;   
  
}

#popover {
  display: none;
  background-color: #FAFAFA;
  border: 1px solid #bdbcbc;
  border-radius: 4px;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  top: 100%;
  margin-top: 0;
  overflow-y:auto;
}

div:hover > #popover {
  display: block;
  cursor: pointer;
  
}
#popover h2 {
  font-size: 16px;
}
#popover li {
  margin: 10px 0px 5px 0px; 
  list-style: none;
}

.filters .locations ul {
  padding: 0.5em 0 1em 1em;
}

.filters .locations li {
  margin: 0 0 0 5%;
  padding: 0.2em;
}
.filters .types ul {
  padding: 2em 0 2em 3em;
}

/*=======================================*/

/*-----------------login-------------------*/
#login-container{
  width: 70%;
  padding: 10%;
}


/*===============profile=====================*/

/* body{
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;    
} */

.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}

/* ======================================== */
#why ul {
  --icon-space: 1.3em;
  list-style: none;
  padding: 0;
}

#why li {
  padding-left: var(--icon-space);
}

#why li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc( var(--icon-space) * -1 );
  width: var(--icon-space);
}